.form {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: flex;
  visibility: hidden;
  padding: 0;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.form.opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.form__container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #08060a;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  width: 750px;
  height: 450px;
  gap: 25px;
}

.form__container_close {
  position: absolute;
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease;
}

.form__container_close:hover {
  opacity: 60%;
}

.form__container_header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__container_header_title {
  font-size: 20px;
  color: #7e4ae7;
  margin: 0;
}

.form__container_header_description {
  font-size: 40px;
  color: #ffffffe8;
  margin: 0;
}

.form__container_header_description .highlight {
  color: #7e4ae7;
  background: linear-gradient(90deg, #7e4ae7, #ffffffe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__container_inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__container_inputs_block {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.form__container_inputs_block_input {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.form__container_inputs_block_input_label {
  color: #ffffffe5;
  font-size: 12.5px;
  font-family: "Sora-SemiBold";
}

.form__container_inputs_block_input_field {
  padding: 10px 15px 10px 10px;
  box-sizing: border-box;
  background: #17111c;
  border-radius: 3px;
  color: #ffffffe5;
  font-size: 14px;
  font-family: "Sora-SemiBold";
  margin: 0;
  height: 40px;
  outline: none;
  border: none;
}

.form__container_inputs_block_input-error {
  visibility: hidden;
  display: block;
  color: #ffb7b7;
  height: 12px;
  font-family: "Sora-ExtraLight";
  font-size: 12px;
  font-weight: 400;
  line-height: 25.52px;
}

.form__container_inputs_block_input-error_active {
  visibility: visible;
}

.form__container_inputs_block_input_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 8px;
  right: 10px;
}

.form__container_inputs_block_input_field::placeholder {
  color: #ffffffe5;
  font-size: 14px;
  font-family: "Sora-SemiBold";
}

.form__container_inputs_block_input_field.textarea {
  padding: 10px;
  box-sizing: border-box;
  height: 150px;
}

.form__container_inputs_footer {
  text-align: center;
  color: #ffffffb6;
  font-size: 12px;
  font-family: "Sora-SemiBold";
}

.form__container_inputs_button {
  color: #ffffffe5;
  background: #946de3;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Barlow-Regular";
  margin: 0;
  min-height: 40px;
  outline: none;
  border: none;
  transition: transform 0.2s ease;
  will-change: transform;
  cursor: pointer;
}

.form__container_inputs_button:hover {
  transform: scale(1.01);
  backface-visibility: hidden;
}

.button-disabled {
  background: #362853;
  color: #000;
  width: 100%;
  border: solid black 1px;
  opacity: 0.2;
}
