.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 50px;
}

.header__logo {
  width: 40px;
  height: 35px;
}

.portfolio__button_text {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "Barlow-Regular";
  color: white;
  background: #9b8dff;
  border-radius: 25px;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.portfolio__button_text:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
  .header {
    gap: 25px;
  }

  .header__logo {
    width: 25px;
    height: 20px;
  }

  .header__button {
    font-size: 12px;
    width: 80px;
    height: 30px;
    border-radius: 15px;
  }
}
