.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 50px;
  gap: 50px;
}

.header__logo {
  width: 40px;
}

.portfolio__button_text {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "Barlow-Regular";
  color: white;
  background: #9b8dff;
  border-radius: 25px;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.portfolio__button_text:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}
