.nav {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.nav__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.nav__link {
  font-family: "Barlow-Regular";
  color: #ffffffe8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav__link.active {
  color: #7e4ae7;
  font-weight: bold;
}

.nav__link:hover {
  color: #7e4ae7;
}

@media screen and (max-width: 1024px) {
  .nav__links {
    gap: 30px;
  }
}

@media screen and (max-width: 600px) {
  .nav__link {
    font-size: 12px;
    gap: 15px;
  }
}
