.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  visibility: hidden;
  padding: 0;
  opacity: 0;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.overlay.opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

.overlay__close {
  position: absolute;
  background-image: url("../images/close.svg");
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  top: 17px;
  right: 25px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.2s ease;
}

.overlay__content {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #08060a;
  margin-top: auto;
  padding: 0 36px;
  width: 100%;
  height: 95%;
  overflow-y: auto;
  z-index: 2;
}

.overlay__content_sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  right: 25px;
  gap: 15px;
  z-index: 1;
}

.overlay__content_sidebar_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  /*background: linear-gradient(90deg, #7e4ae7 0%, #46298169 85%);*/
  border-radius: 50%;
  list-style-type: none;
  transition: transform 0.2s ease;
  will-change: transform;
  cursor: pointer;
}

.overlay__content_sidebar_item:hover {
  transform: scale(1.05);
  backface-visibility: hidden;
}

.overlay__content_sidebar_item-image {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

.tooltip {
  position: absolute;
  top: 50%;
  right: 125%;
  transform: translateY(-50%);
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Sora-Regular", sans-serif;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  white-space: nowrap;
  text-align: left;
}

.overlay__content_sidebar_item:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.overlay__content_container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 36px;
  min-height: 100%;
  height: auto;
  overflow: visible;
  -webkit-transition: padding 0.4s ease;
  transition: padding 0.4s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.overlay__content_container_info {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: auto;
  gap: 25px;
  padding: 0;
}

.overlay__content_container_info-header {
  margin: 0;
}

.overlay__content_container_info-profile {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #08060a;
  z-index: 10;
  padding: 10px;
}

.overlay__content_container_info-profile_details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay__content_container_info-profile_block {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.overlay__content_container_info-profile_block_name {
  color: #ffffff;
  font-size: 16px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__content_container_info-profile_block_availability {
  color: #c8ffbcdc;
  font-size: 13px;
  font-family: "Barlow-ExtraLight";
  margin: 0;
}

.overlay__content_container_info-profile_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay__content_container_info-profile_button_text {
  font-size: 15px;
  height: 35px;
}

.overlay__content_container_info-images {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 750px;
  max-height: 750px;
  border-radius: 10px;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}

.overlay__images-nav.swiper-button-prev,
.overlay__images-nav.swiper-button-next {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay__images-nav.swiper-button-prev:after,
.overlay__images-nav.swiper-button-next:after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px !important;
  color: white !important;
  content: "";
}

.swiper-button-prev:after {
  content: "❮" !important;
}

.swiper-button-next:after {
  content: "❯" !important;
}

.overlay__content_container_info-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay__content_container_info_description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.overlay__description_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay__description_header_links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay__description_header_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 35px;
  outline: none;
  font-family: "Barlow-Regular";
  color: white;
  background: #9b8dff;
  border-radius: 25px;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
  text-decoration: none;
}

.overlay__description_header_button:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}

.overlay__description_header_tags {
  display: flex;
  align-items: center;
  gap: 10px;
}

.overlay__description_header_tag {
  height: 35px;
  background-color: rgba(255, 255, 255, 0.34);
}

.overlay__description_content {
  display: flex;
  width: 100%;
  gap: 25px;
}

.overlay__description_content_block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.overlay__description_content_block.small__block {
  width: 50%;
}

.overlay__description_content_block_header {
  color: #ffffff9c;
  font-size: 12px;
  font-family: "Sora-ExtraLight";
  margin: 0;
}

.overlay__description_content_block_text {
  color: #ffffffe5;
  font-size: 15px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__description_content_block_indent {
  margin-top: 10px;
  color: #ffffffe5;
  font-size: 15px;
  font-family: "Sora-SemiBold";
}

.overlay__description_content_block_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.overlay__description_content_block_list_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.overlay__content_block_item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay__content_block_item_header_name {
  color: #ffffffe5;
  font-size: 14px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__content_block_item_header_percentage {
  color: #ffffffe5;
  font-size: 14px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__content_block_item_bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay__content_block_item_bar {
  width: 3px;
  height: 15px;
  background-color: #46298169;
}

.overlay__content_block_item_bar.filled {
  background-color: #7e4ae7;
}

.overlay__content_container_info_footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
  gap: 15px;
}

.overlay__footer_header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.overlay__footer_header_image {
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
}

.overlay__footer_header_line {
  width: 100%;
  height: 2px;
  background-color: #46298169;
}

.overlay__footer_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.overlay__footer_description_name {
  color: #ffffffe5;
  font-size: 20px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__footer_description_info {
  color: #ffffffe5;
  font-size: 12px;
  font-family: "Sora-ExtraLight", sans-serif;
  margin: 0;
}

.overlay__footer_similar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.overlay__footer_similar_header {
  color: #ffffffe5;
  font-size: 16px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__footer_similar_images {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.overlay__footer_similar_images_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 263px;
  height: 198px;
  background-color: #46298169;
  border-radius: 10px;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}

.overlay__footer_similar_images_item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay__footer_similar_images_item-overlay {
  display: flex;
  position: absolute;
  align-items: end;
  justify-content: space-between;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 10px 20px;
  box-sizing: border-box;
  transition: bottom 0.3s ease;
}

.overlay__footer_similar_images_item-overlay_title {
  color: #ffffff;
  font-size: 16px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.overlay__footer_similar_images_item:hover
  .overlay__footer_similar_images_item-overlay {
  bottom: 0;
}

.overlay__content_container_sidebar {
  display: none;
  flex-direction: column;
  margin-left: auto;
  width: 400px;
  height: 800px;
  background-color: red;
}

.overlay__content_container.sidebar_open {
  padding-left: 100px;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1070px) {
  .overlay__content_container_info-header {
    font-size: 40px;
  }

  .overlay__content_container_info-images {
    min-height: 500px;
    max-height: 500px;
  }

  .overlay__images-nav.swiper-button-prev,
  .overlay__images-nav.swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .overlay__images-nav.swiper-button-prev:after,
  .overlay__images-nav.swiper-button-next:after {
    font-size: 15px !important;
  }

  .overlay__content_container_info-images:hover
    .overlay__content_container_info-images_more {
    bottom: -500px;
  }

  .overlay__description_header_links {
    gap: 5px;
  }

  .overlay__description_header_button {
    font-size: 15px;
    width: 100px;
    height: 35px;
  }

  .overlay__description_header_tags {
    gap: 5px;
  }

  .overlay__description_header_tag {
    font-size: 15px;
    width: 100px;
    height: 35px;
  }
}

@media screen and (max-width: 600px) {
  .overlay__content_container_info-header {
    font-size: 30px;
  }

  .overlay__content_container_info-profile {
    flex-direction: column;
    gap: 10px;
  }

  .overlay__content_container_info-profile_details {
    gap: 10px;
  }

  .overlay__content_container_info-profile_block_name {
    font-size: 14px;
  }

  .overlay__content_container_info-profile_block_availability {
    font-size: 12px;
  }

  .overlay__content_container_info-profile_button_text {
    font-size: 13px;
    width: 250px;
  }

  .overlay__content_container_info-images {
    min-height: 198px;
    max-height: 198px;
  }

  .overlay__content_container_info_description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .overlay__description_header {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .overlay__description_content {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .overlay__description_content_block_text {
    font-size: 14px;
  }

  .overlay__description_content_block_indent {
    margin-top: 5px;
    font-size: 14px;
  }

  .overlay__description_content_block_list {
    gap: 10px;
  }

  .overlay__content_block_item_header_name {
    font-size: 12px;
  }

  .overlay__content_block_item_header_percentage {
    font-size: 12px;
  }

  .overlay__content_block_item_bars {
    justify-content: center;
    gap: 3px;
  }

  .overlay__content_block_item_bar {
    width: 2px;
  }

  .overlay__content_container_info_footer {
    margin-top: 25px;
  }

  .overlay__footer_header_line {
    height: 1px;
  }

  .overlay__footer_description {
    gap: 15px;
  }

  .overlay__footer_description_name {
    font-size: 15px;
  }

  .overlay__footer_description_info {
    text-align: center;
    font-size: 11px;
  }

  .overlay__footer_description_info_button {
    font-size: 15px;
    width: 250px;
    height: 35px;
  }

  .overlay__footer_similar_header {
    text-align: center;
    font-size: 15px;
  }

  .overlay__footer_similar_images {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .overlay__footer_similar_images_item-overlay {
    height: 50px;
  }

  .overlay__footer_similar_images_item-overlay_title {
    font-size: 14px;
  }
}
