.portfolio__indent {
  padding-left: 25px;
}

.portfolio_profile_image_circle {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}

.portfolio-text-small {
  font-family: "Sora-Regular";
  font-size: 14px;
}

.portfolio-text-medium {
  font-family: "Sora-SemiBold";
  font-size: 25px;
}

.portfolio-text-large {
  font-family: "Sora-ExtraBold";
  font-size: 55px;
}

.portfolio__button_text {
  width: 125px;
  height: 45px;
  outline: none;
  font-family: "Barlow-Regular";
  color: var(--text-main-color);
  background: var(--button-color);
  border-radius: 25px;
  border: none;
  transition: transform 0.2s ease, background 0.3s ease;
  will-change: transform;
  cursor: pointer;
}

.portfolio__button_text:hover {
  transform: scale(1.03);
  backface-visibility: hidden;
}
