.projects {
  display: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 50px;
}

.projects__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects__header_title {
  color: #ffffffe8;
  margin: 0;
}

.projects__header_desciption {
  color: #ffffffe8;
  margin: 0;
}

.projects__header_desciption .highlight {
  color: #7e4ae7;
  background: linear-gradient(90deg, #7e4ae7, #ffffffe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.projects__stats_item {
  display: flex;
  gap: 20px;
}

.projects__stats_item-image {
  width: 40px;
  height: 40px;
}

.projects__stats_item_block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  height: 65px;
  gap: 5px;
}

.projects__stats_item_block-title {
  color: #ffffff;
  font-size: 30px;
  font-family: "Sora-Bold";
  margin: 0;
}

.projects__stats_item_block-description {
  color: #ffffff;
  font-size: 16px;
  font-family: "Barlow-ExtraLight";
  margin: 0;
}

.projects__work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 0;
}

.projects__work_item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 300px;
  background-color: #46298169;
  border-radius: 10px;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}

.projects__work_item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__work_item-overlay {
  display: flex;
  position: absolute;
  align-items: end;
  justify-content: space-between;
  bottom: -100%;
  right: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 10px 20px;
  box-sizing: border-box;
  transition: bottom 0.3s ease;
}

.projects__work_item-overlay_title {
  color: #ffffff;
  font-size: 18px;
  font-family: "Sora-SemiBold";
  margin: 0;
}

.projects__work_item:hover .projects__work_item-overlay {
  bottom: 0;
}

.portfolio__indent {
  padding-left: 25px;
}

.portfolio_profile_image_circle {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}

/* -------------------------------------------------------------------------- */
/*                              Responsive Design                             */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 1070px) {
  .projects {
    gap: 35px;
  }

  .projects__header_title {
    font-size: 20px;
  }

  .projects__header_desciption {
    font-size: 40px;
  }

  .projects__stats {
    padding: 0;
  }

  .projects__stats_item {
    gap: 20px;
  }

  .projects__stats_item-image {
    width: 35px;
    height: 35px;
  }

  .projects__stats_item_block {
    height: 55px;
  }

  .projects__stats_item_block-title {
    font-size: 25px;
  }

  .projects__stats_item_block-description {
    font-size: 16px;
  }

  .projects__work {
    justify-content: center;
    padding: 0;
  }

  .projects__work_item {
    width: 300px;
    height: 180px;
  }

  .projects__work_item-overlay {
    height: 50px;
  }

  .projects__work_item-overlay_title {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .projects {
    gap: 35px;
  }

  .projects__header_title {
    font-size: 16px;
  }

  .projects__header_desciption {
    font-size: 30px;
  }

  .projects__stats {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    gap: 20px;
  }

  .projects__stats_item {
    width: 80px;
    gap: 20px;
  }

  .projects__stats_item-image {
    width: 25px;
    height: 25px;
  }

  .projects__stats_item_block {
    height: 40px;
  }

  .projects__stats_item_block-title {
    font-size: 20px;
  }

  .projects__stats_item_block-description {
    font-size: 12px;
  }
}
